1. 필요한 모듈 설치하기

In [2]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.8).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.10.6-1~22.04).
python3-dev set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 19 not upgraded.
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 887.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
import pymysql
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

username = 'root'
password = '***'
host = '***'  # or your_host:your_port
port=3306
database = 'furry_friend_product'

conn = pymysql.connect(host=host, port=port, user=username, password=password, db=database)

query = "SELECT pname, pprice, pcategory FROM product"

df = pd.read_sql_query(query, conn)

print(df)
print()

average_prices = df.groupby('pcategory')['pprice'].mean().astype(int)

print(average_prices)


# 원-핫 인코딩 적용
one_hot = pd.get_dummies(df['pcategory'])
df = df.drop('pcategory',axis = 1)
df = df.join(one_hot)

# 훈련/테스트 세트 분리 (여기서는 80%/20% 비율로 분리)
train_df, test_df = train_test_split(df, test_size=0.2)

# 선형회귀모델 훈련
model = LinearRegression()
model.fit(train_df.drop(['pprice', 'pname'], axis=1), train_df['pprice'])

# 테스트 세트에서의 예측 및 점수 출력
predictions = model.predict(test_df.drop(['pprice', 'pname'], axis=1))
score = model.score(test_df.drop(['pprice', 'pname'], axis=1), test_df['pprice'])
print('score', score)

<ipython-input-3-135b14673088>:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

             pname  pprice pcategory
0         털청소기 팝니다   12000        용품
1            빗질 용품    2600        용품
2          테스트용 상품    1234        간식
3        테스트용 301자    1234        용품
4             애견사료   13000        사료
5          애견간식 판매   10000        간식
6      강아지 옷 처분합니다   24000        의류
7            자동간식기   14000        용품
8              뱀사료  110000        사료
9           애견미용세트   28000        용품
10        햄스터 목욕모래    4000        간식
11     강아지 미용 용품세트  120000        용품
12      카멜레온 사육 키트  128000        용품
13      햄스터 먹이 팝니다    6000        사료
14       고양이 옷 팝니다    4000        의류
15            캣 타워  600000        용품
16            강아지집   90000        용품
17           고양이침대   40000        용품
18          고양이 사료   24000        사료
19    고양이 전용 사료통조림    2000        사료
20  고양이 3단 사료 팝니다.   25000        용품
21        햄스터 리빙박스   30000        용품
22          햄스터 사료    8500        사료
23      햄스터 리빙박스!!   30000        용품
24              ㅁㅁ      20        사료
25    건조 햄스터사료 입니다    5000        사료
26     햄스터 간식 및 사료    6000        사료
27         햄스터 케이지   28500        용품
28         햄스터 케이지   28500        용품
29         햄스터 케이지   19000        용품
30             케이지       1        용품
31         햄스터 케이지   24000        용품

pcategory
간식     5078
사료    19391
용품    67824
의류    14000
Name: pprice, dtype: int64
score -16.476300068887113